<h3>What kind of triangle is it?</h1>
<form action="/triangle">
  <div class="form-group">
    <label for="side_1">Enter the length of side 1</label>
    <input id="side_1" name="side_1" class="form-control" type="text">
    <label for="side_2">Enter the length of side 2</label>
    <input id="side_2" name="side_2" class="form-control" type="text">
    <label for="side_3">Enter the length of side 3</label>
    <input id="side_3" name="side_3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">submit</button>
</form>
